* {
    margin: 0;
    padding: 0;
}
#website{
    overflow: hidden;
    background-color: red;
    border: 2px soild orange;
}
#H1 {
    /* width: 100vw; */
    /* height: 6.5vh; */
    padding: 20px 14px 20px 14px;
    background-color: rgb(244, 244, 233);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#H1 nav1 {
    display: flex;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 549;

}
#bookly{
    font-size: 4vw;
}

#book {
    margin-right: 1vw;
    color: #219150;
    margin-top: .1vw;
}
#H2{
    height: 3vw;
    background-color: #219150;
}
#H2 nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#H2 nav h4 {
    padding: 1vw;
    height: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    margin-right: 60px;
    font-size: 2vwe;

}
#search-box{
    font-size: 30px;
    border-radius: 8px;

}

#H2 nav :hover {
    background-color: #219150;


}

#H2 {
    background-color: #27ae60;
}

#icons {
    display: flex;
}

#icons h4 {
    margin-right: 12px;
    font-size: 1.6vw;
}

#icons h4:hover {
    background-color: rgb(128, 68, 0);

}
#searchbar{
    font-size: 1.8vw;
}
#searchbar:hover {
    background-color: rgb(27, 174, 135);
    font-size: 2vw;

}
#con {
    display: flex;
    min-height: 600px;
}

#con1 {
    background-color: rgb(155, 155, 92);
    padding: 50px 50px 50px 50px;
    width: 40%;

}

#con1 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 5px;

}

#con1 p {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

}

#con1 button {
    padding: 4px;
    color: white;
    background-color: #219150;
    font-weight: 550;
    border-radius: 5px;
    border-color: #219150;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

#con1 button:hover {
    transform: scale(1.3);
}

#con2 {
    /* width: 50%; */
    background-color: rgb(132, 53, 172);
    padding: 0px 0px 50px 50px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    
}

#con2 img {
    padding-top: 100px;
    margin-right: 12px;
    width: 23%;
    height: 70%;
}

#right::-webkit-scrollbar {
    display: none;
}

#P2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
}

#P2-1 {
    display: flex;
}

#P2-1 div h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#P2-icons {
    font-size: 30px;
    margin-top: 12px;
    margin-right: 10px;
    color: #219150;
}

#P2-P {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#c2{
    width: 100vw;
    background: rgb(244, 244, 233);
    height: 50px;
    
}

#c2 div1{
    font-size: 2.5rem;
    font-weight: 545;
    margin-left: 44%;
}

#box h6 {
    margin-top: 5px;
}

#BOX {
    display: flex;
    /* flex-wrap: wrap; */
    border: 2px solid black;
    background-color: red;
    margin-left: 100px;
    margin-right: 100px;
}

#Featured {
    min-height: 600px;
    background-color: rgb(255, 255, 255);
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#book-2 {
    margin-top: 25px;
    margin-left: 40px;
    width: 270px;
    height: 380px;


}

#box {
    display: flex;
    margin-left: 65px;
    gap: 5px;
}

#kshift {
    margin-left: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;

}

#bn {
    margin-left: 75px;
    font-size: 7px;
    padding: 3px;
    color: white;
    background-color: #219150;
    border-radius: 7px;
    border-color: #219150;
}

#bn:hover {
    font-size: 9px;
    transition: all ease-in 3sec;
}

#page-3 {
    display: flex;
    background-color:rgb(244, 244, 233);
}

#p-31 {
    width: 50%;
    min-height: 500px;
    margin: 120px 0px 70px 50px; 
    
    /* background-color: rgb(151, 151, 34); */
}

#p-31 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 35px;
}
#p-31 h1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;   
    margin-top: 5px;
    font-size: 50px;
}
#p-31 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-top: 5px;   
    font-size: 35px;
}
#p-31 button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-top: 10px; 
    background-color: #219150;
    border-radius: 7px;
    color:white;
    padding: 2px;
    font-size: 26px;
    border-color: #27ae27;
}
#p-31 button:hover{
    font-size: 13px;
}

#p-32 {
    width: 50%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
} 

#p-32 img {
    width: 60%;
    height:80%;
} 
#off:hover{
    /* hover */
}
